body {
  background-color: black;
  font-family: 'Kanit', sans-serif;
}
div {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  padding: 10px 15px;
  font-family: 'Kanit', sans-serif;
  
}

h1{
  color: green;
  text-align: center;

}
#nametext{
margin: 5px;
  text-align: center; 
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  
}
#number{
  width: 90%;
  padding: 10px 10px;
}
#button{
  margin: 10px;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 5.4em 0.7em 5.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.content{
position:fixed;
background:rgba(0, 0, 0, 0.5);
color:#f1f1f1;
width:80%;
padding:30px;
}

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}


#output{
  background-color: white;
  background:rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 600px;
color:#f1f1f1;
width:80%;
padding:30px;
}
